<h1 class="text-center mt-5 fw-bold"></h1>
<aside class="profile-card">
  <header>
    <a target="_blank">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTegQdwQ7gAPaO0avqMOsUv7Ucqjrt5U9P1Vsac_rE&s"
        class="hoverZoomLink"
        width="50"
        height="70"
      />
    </a>
    <h1 class="fs-4">Welcome {{ name }}</h1>
    <h2 class="fs-6">Best Wishes</h2>
  </header>
  <div class="profile-bio">
    <p class="m-0">
      Thank you for your interest in digital bond ,we will review your
      application soon .
    </p>
  </div>
</aside>
